/*
nav.navbar{
    display: none;
}
#nav-drawer{
    display: none;
}
*/

#page-header div.card-body{
    background-color: var(--myprimary);
}
#page-header h1{
    color: var(--white) !important;
}

#page-wrapper{
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 20px;
}



